{
  "extends": [
    "plugin:@progressivestudio/typescript",
    "plugin:@progressivestudio/react",
    "plugin:@progressivestudio/prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off"
  }
}
